<h2>complete formulario</h2>
<form action="">
    <input type="text"  placeholder="nombre"> 
    <input type="text" placeholder="apellido">
    <input type="text" placeholder="email">
    <input type="submit">
</form>